# Merge all CSV Files and Aggreggation of final Dataframe

# Merge all CSV Files

#### Import Dependencies

In [1]:
# Import Dependencies
import pandas as pd
from os import listdir

#### Extract Column Names to asign to all CSV files

In [2]:
# Extract Column Names from one of the files
file = '201701-citibike-tripdata.csv'
df_2017 = pd.read_csv('data_original/' + file)
column_names = df_2017.columns
column_names

Index(['Trip Duration', 'Start Time', 'Stop Time', 'Start Station ID',
       'Start Station Name', 'Start Station Latitude',
       'Start Station Longitude', 'End Station ID', 'End Station Name',
       'End Station Latitude', 'End Station Longitude', 'Bike ID', 'User Type',
       'Birth Year', 'Gender'],
      dtype='object')

#### Duplicate the CSV files to a new directory with the same column name for all

In [3]:
# Define the path that includes the csv files to merge
filepaths_original = [f for f in listdir("./data_original") if f.endswith('.csv')]
# Order the list of paths alphabetically
filepaths_original.sort(reverse = False) 

# Export the csv files with the same header
for file in filepaths_original:
    # Create a dataframe for each csv file
    df = pd.read_csv('data_original/' + file)
    # Verify if the number of columns and their names match
    print(file, df.columns.size)
    #print(file, df.columns)
    # Asign the same column name for each dataframe
    df.columns = column_names
    # Export the dataframes with the same column names to a new path
    df.to_csv('data_modified/' + file)

201701-citibike-tripdata.csv 15
201702-citibike-tripdata.csv 15
201703-citibike-tripdata.csv 15
201704-citibike-tripdata.csv 15
201705-citibike-tripdata.csv 15
201706-citibike-tripdata.csv 15
201707-citibike-tripdata.csv 15
201708-citibike-tripdata.csv 15
201709-citibike-tripdata.csv 15
201710-citibike-tripdata.csv 15
201711-citibike-tripdata.csv 15
201712-citibike-tripdata.csv 15
201801-citibike-tripdata.csv 15
201802-citibike-tripdata.csv 15
201803-citibike-tripdata.csv 15
201804-citibike-tripdata.csv 15
201805-citibike-tripdata.csv 15
201806-citibike-tripdata.csv 15
201807-citibike-tripdata.csv 15
201808-citibike-tripdata.csv 15
201809-citibike-tripdata.csv 15
201810-citibike-tripdata.csv 15
201811-citibike-tripdata.csv 15
201812-citibike-tripdata.csv 15
201901-citibike-tripdata.csv 15
201902-citibike-tripdata.csv 15
201903-citibike-tripdata.csv 15
201904-citibike-tripdata.csv 15
201905-citibike-tripdata.csv 15
201906-citibike-tripdata.csv 15
201907-citibike-tripdata.csv 15
201908-citibike-tripdata.csv 15
201909-citibike-tripdata.csv 15
201910-citibike-tripdata.csv 15
201911-citibike-tripdata.csv 15

### Concatenate all the CSV files in a single Dataframe

In [4]:
# Define the list of file paths of the CSV files with the same column names for all
filepaths_modified = [f for f in listdir("./data_modified") if f.endswith('.csv')]

# Concatenate all the CSV files with the same column names for all
df_total = pd.concat([pd.read_csv('data_modified/' + file) for file in filepaths_modified])

# Convert object Columns to Datetime format
df_total['Start Time'] = pd.to_datetime(df_total['Start Time'])
df_total['Stop Time'] = pd.to_datetime(df_total['Stop Time'])

# Birth year to integer instead of float
df_total['Birth Year'] = df_total['Birth Year'].fillna(0.0).astype(int)

# Create new columns with just the date instead of date and time
df_total['Start Date'] = df_total['Start Time'].dt.date
df_total['Stop Date'] = df_total['Stop Time'].dt.date

# Replace Gender Codes with values from the Citi Website
df_total['Gender'].replace(to_replace=[0, 1, 2],
           value=['Unknown', 'Male', 'Female'],
           inplace=True)

# Remove the duplicate index from the merge
df_total = df_total.drop(['Unnamed: 0'], axis = 1) 

# Reset index
df_total = df_total.reset_index(drop=True)

# Show Dataframe
df_total

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender,Start Date,Stop Date
0,148,2017-01-01 00:21:32,2017-01-01 00:24:01,3276.0,Marin Light Rail,40.714584,-74.042817,3185.0,City Hall,40.717732,-74.043845,24575,Subscriber,1983,Male,2017-01-01,2017-01-01
1,1283,2017-01-01 00:24:35,2017-01-01 00:45:58,3183.0,Exchange Place,40.716247,-74.033459,3198.0,Heights Elevator,40.748716,-74.040443,24723,Subscriber,1978,Male,2017-01-01,2017-01-01
2,372,2017-01-01 00:38:19,2017-01-01 00:44:31,3183.0,Exchange Place,40.716247,-74.033459,3211.0,Newark Ave,40.721525,-74.046305,24620,Subscriber,1989,Male,2017-01-01,2017-01-01
3,1513,2017-01-01 00:38:37,2017-01-01 01:03:50,3194.0,McGinley Square,40.725340,-74.067622,3271.0,Danforth Light Rail,40.692640,-74.088012,24668,Subscriber,1961,Male,2017-01-01,2017-01-01
4,639,2017-01-01 01:47:52,2017-01-01 01:58:31,3183.0,Exchange Place,40.716247,-74.033459,3203.0,Hamilton Park,40.727596,-74.044247,26167,Subscriber,1993,Male,2017-01-01,2017-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54543517,1769,2017-10-31 20:59:26,2017-10-31 21:28:55,362.0,Broadway & W 37 St,40.751726,-73.987535,3263.0,Cooper Square & Astor Pl,40.729515,-73.990753,20654,Subscriber,1961,Female,2017-10-31,2017-10-31
54543518,376,2017-10-31 21:06:54,2017-10-31 21:13:10,362.0,Broadway & W 37 St,40.751726,-73.987535,3259.0,9 Ave & W 28 St,40.749370,-73.999234,15162,Subscriber,1983,Male,2017-10-31,2017-10-31
54543519,3189,2017-10-31 21:10:24,2017-10-31 22:03:33,362.0,Broadway & W 37 St,40.751726,-73.987535,3158.0,W 63 St & Broadway,40.771639,-73.982614,15666,Subscriber,1955,Male,2017-10-31,2017-10-31
54543520,142,2017-10-31 21:48:23,2017-10-31 21:50:46,362.0,Broadway & W 37 St,40.751726,-73.987535,465.0,Broadway & W 41 St,40.755136,-73.986580,28203,Subscriber,1971,Male,2017-10-31,2017-10-31
54543521,391,2017-10-31 22:40:23,2017-10-31 22:46:55,362.0,Broadway & W 37 St,40.751726,-73.987535,2006.0,Central Park S & 6 Ave,40.765909,-73.976342,24867,Subscriber,1990,Male,2017-10-31,2017-10-31

Elimination of Outliers

In [5]:
# Filter trips that last more than 4h (3h*3,600s/h=14,400s) because they are outliers that probably belong to bikes in maintenance or lost bikes
df_total = df_total[df_total['Trip Duration'] <= 10800]

In [6]:
df_total['Start Station Name'].unique()

array(['Marin Light Rail', 'Exchange Place', 'McGinley Square', ...,
       "JSQ Don't Use", "WS Don't Use", "Hs Don't Use"], dtype=object)

## Data Aggregation

In [7]:
df_total.columns

Index(['Trip Duration', 'Start Time', 'Stop Time', 'Start Station ID',
       'Start Station Name', 'Start Station Latitude',
       'Start Station Longitude', 'End Station ID', 'End Station Name',
       'End Station Latitude', 'End Station Longitude', 'Bike ID', 'User Type',
       'Birth Year', 'Gender', 'Start Date', 'Stop Date'],
      dtype='object')

#### Aggreagate by Costumer Type and Gender

In [8]:
# Aggregate by Type and Gender
df_grouped_type_age = df_total.groupby(['Start Date', 'User Type', 'Birth Year', 'Gender']).agg({'Trip Duration':{'Trip Duration Mean (s)':'mean'}, 'Bike ID':{'Total Rides':'count'}})
df_grouped_type_age.columns = df_grouped_type_age.columns.droplevel(0)
# Export the dataframe to a csv file
df_grouped_type_age.to_csv('data_output/type_gender_birth.csv')
# Display the dataframe
df_grouped_type_age

/Applications/anaconda3/envs/python37/lib/python3.7/site-packages/pandas/core/groupby/generic.py:1455: FutureWarning: using a dict with renaming is deprecated and will be removed
in a future version.

For column-specific groupby renaming, use named aggregation

    >>> df.groupby(...).agg(name=('column', aggfunc))

  return super().aggregate(arg, *args, **kwargs)

                                          Trip Duration Mean (s)  Total Rides
Start Date User Type  Birth Year Gender
2017-01-01 Customer   0          Unknown             1551.662744         3229
                      1958       Male                3592.000000            1
                      1963       Female              3588.000000            1
                      1964       Male                 958.000000            5
                      1981       Male                1481.000000            3
...                                                          ...          ...
2019-11-30 Subscriber 2002       Female              1599.500000            2
                                 Male                 637.739130           23
                                 Unknown              258.000000            1
                      2003       Female               183.500000            2
                                 Male                 586.846154           13

[290284 rows x 2 columns]

### Aggregate by Start Station Name

In [9]:
# Aggregate by Type and Gender
df_grouped_start = df_total.groupby(['Start Date', 'Start Station Name', 'Start Station Latitude','Start Station Longitude']).agg({'Trip Duration':{'Trip Duration Mean (s)':'mean'}, 'Bike ID':{'Total Rides':'count'}})
df_grouped_start.columns = df_grouped_start.columns.droplevel(0)
# Export the dataframe to a csv file
df_grouped_start.to_csv('data_output/start_date.csv')
# Display the dataframe
df_grouped_start

                                                                                        Trip Duration Mean (s)  \
Start Date Start Station Name           Start Station Latitude Start Station Longitude
2017-01-01 1 Ave & E 16 St              40.732219              -73.981656                           553.045455
           1 Ave & E 18 St              40.733812              -73.980544                           810.560606
           1 Ave & E 30 St              40.741444              -73.975361                           879.076923
           1 Ave & E 44 St              40.750020              -73.969053                          1045.838710
           1 Ave & E 62 St              40.761227              -73.960940                           823.693878
...                                                                                                        ...
2019-11-30 Wyckoff Av & Stanhope St     40.703545              -73.917775                           608.166667
           Wyckoff St & 3 Ave           40.682755              -73.982586                           495.117647
           Wyckoff St & Bond St         40.684617              -73.987213                           500.666667
           Wythe Ave & Metropolitan Ave 40.716887              -73.963198                           710.962264
           York St                      40.716490              -74.041050                           203.250000

                                                                                        Total Rides
Start Date Start Station Name           Start Station Latitude Start Station Longitude
2017-01-01 1 Ave & E 16 St              40.732219              -73.981656                        66
           1 Ave & E 18 St              40.733812              -73.980544                        66
           1 Ave & E 30 St              40.741444              -73.975361                        52
           1 Ave & E 44 St              40.750020              -73.969053                        31
           1 Ave & E 62 St              40.761227              -73.960940                        49
...                                                                                             ...
2019-11-30 Wyckoff Av & Stanhope St     40.703545              -73.917775                         6
           Wyckoff St & 3 Ave           40.682755              -73.982586                        17
           Wyckoff St & Bond St         40.684617              -73.987213                         9
           Wythe Ave & Metropolitan Ave 40.716887              -73.963198                        53
           York St                      40.716490              -74.041050                         4

[809191 rows x 2 columns]

### Aggregate by Stop Station Name

In [10]:
# Aggregate by Type and Gender
df_grouped_stop = df_total.groupby(['Stop Date', 'End Station Name','End Station Latitude', 'End Station Longitude']).agg({'Trip Duration':{'Trip Duration Mean (s)':'mean'}, 'Bike ID':{'Total Rides':'count'}})
df_grouped_stop.columns = df_grouped_stop.columns.droplevel(0)
# Export the dataframe to a csv file
df_grouped_stop.to_csv('data_output/stop_date.csv')
# Display the dataframe
df_grouped_stop

                                                                                     Trip Duration Mean (s)  \
Stop Date  End Station Name              End Station Latitude End Station Longitude
2017-01-01 1 Ave & E 16 St               40.732219            -73.981656                         534.318182
           1 Ave & E 18 St               40.733812            -73.980544                         585.833333
           1 Ave & E 30 St               40.741444            -73.975361                         708.581818
           1 Ave & E 44 St               40.750020            -73.969053                        1173.043478
           1 Ave & E 62 St               40.761227            -73.960940                         791.400000
...                                                                                                     ...
2019-12-01 W 42 St & 8 Ave               40.757570            -73.990985                         490.000000
           W 45 St & 8 Ave               40.759291            -73.988597                        1072.500000
           W 50 St & 9 Ave               40.763605            -73.989180                        1592.000000
           Washington St & Gansevoort St 40.739323            -74.008119                         581.000000
           Wythe Ave & Metropolitan Ave  40.716887            -73.963198                        1744.000000

                                                                                     Total Rides
Stop Date  End Station Name              End Station Latitude End Station Longitude
2017-01-01 1 Ave & E 16 St               40.732219            -73.981656                      66
           1 Ave & E 18 St               40.733812            -73.980544                      60
           1 Ave & E 30 St               40.741444            -73.975361                      55
           1 Ave & E 44 St               40.750020            -73.969053                      23
           1 Ave & E 62 St               40.761227            -73.960940                      45
...                                                                                          ...
2019-12-01 W 42 St & 8 Ave               40.757570            -73.990985                       1
           W 45 St & 8 Ave               40.759291            -73.988597                       2
           W 50 St & 9 Ave               40.763605            -73.989180                       1
           Washington St & Gansevoort St 40.739323            -74.008119                       2
           Wythe Ave & Metropolitan Ave  40.716887            -73.963198                       2

[811412 rows x 2 columns]